<div class="container text-center col-12 col-md-6 offset-md-3" >
        


    <label> <strong>Altura:</strong></label>
    <div id="getaltura"> </div>
    <br><br>

    <label><strong>Peso</strong></label>
    <div id="getpeso"></div>
    <br><br>
        
    <label><strong>Media de IMC</strong></label>
    <div id="getimc"></div>
    <br><br>
    
    
        

    

<input class="btn btn-outline-dark" type="button" value="recuperar" onclick="recuperar3()">

<input class="btn btn-outline-dark" type="button" value="Apagar os dados" onclick="apagar3()">

</div>

