<div class="container text-center col-12 col-md-6 offset-md-3" >
        


    <label> <strong>Tipo Exercicio:</strong></label>
    <div id="gette"> </div>
    <br><br>

    <label><strong>Quantidade Percorrida</strong></label>
    <div id="getqp"></div>
    <br><br>
        
    <label><strong>Tempo Gasto</strong></label>
    <div id="gettg"></div>
    <br><br>
    
     <label><strong>Calorrias Perdidas</strong></label>
    <div id="getcp"></div>
    <br><br>
       
   
    

<input class="btn btn-outline-dark" type="button" value="recuperar" onclick="recuperar2()">

<input class="btn btn-outline-dark" type="button" value="Apagar os dados" onclick="apagar2()">

</div>

