<div class="container text-center col-12 col-md-6 offset-md-3" >
        


        <label> <strong>Nome do cliente:</strong></label>
		<div id="getnome"> </div>
        <br><br>

        <label><strong>CPF</strong></label>
		<div id="getcpf"></div>
        <br><br>
            
        <label><strong>Telefone</strong></label>
		<div id="gettelef"></div>
		<br><br>
		
         <label><strong>Email</strong></label>
		<div id="getemail"></div>
        <br><br>
           
        <label><strong>Idade</strong></label>
		<div id="getidade"></div>
        <br><br>
            

		
    
	<input class="btn btn-outline-dark" type="button" value="recuperar" onclick="recuperar()">

    <input class="btn btn-outline-dark" type="button" value="Apagar os dados" onclick="apagar()">

</div>
  
