
<div class="row">


    <div class="col-4 text-center"><a class="btn btn-outline-dark btn-block" href="#!novocliente"> Novo Cliente </a></div>

    <!-- <div class="col-3 text-center"><a class="btn-dark" href="#!listacliente"> Listar </a></div> -->


    <div class="col-4 text-center"><a class="btn btn-outline-dark btn-block" href="#!novoexercicio"> Novo Exercicio</a></div>


    <div class="col-4 text-center"><a class="btn btn-outline-dark btn-block" href="#!novoimc"> Novo IMC</a></div>

    <div class="col-4 text-center"><a class="btn btn-outline-dark btn-block" href="#!apagar-consultar-cliente"> Consultar e Apagar Cliente </a></div>

    <div class="col-4 text-center"><a class="btn btn-outline-dark btn-block" href="#!apagar-consultar-exercicio"> Consultar e Apagar Exercicio </a></div>

    <div class="col-4 text-center"><a class="btn btn-outline-dark btn-block" href="#!apagar-consultar-imc"> Consultar e Apagar IMC </a></div>
</div>